body {

    background-color:#2e82b4;
    width: 900px;
    height: 900px;

}
h1 {
    text-align:center;
    color:black;


}
.container {
   position:relative;
    display:flex;
   
    flex-direction:columns;
    flex-wrap: wrap;
    justify-content: wrap;
    align-items: around;
    gap : 20px;
    border:red (204,13,13) solid 10px;
    width: 900px;
    
   
}


.ecran {
    
   display:flex;
   justify-content:center;
   align-items: center;
   font-size:2rem;
   font-family:cursive;
     border:rgb(204, 13, 13) solid 5px;
    background-color:rgb(184, 184, 16);
   height:100px;
   margin-right: 0px;
    margin-top:100px;
    width:755px;
  
   
}
.item{
    
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    font-family:cursive;
    background-color:beige;
   
    width: 150px;
    height: 150px;
    margin:10px;
    border:rgba(2, 3, 24, 0.436) solid 5px;
}

.item4 {
  
    background-color:rgb(25, 10, 195);
    color:rgb(226, 234, 234);
    border:wight;
}
/*.item5 {
    position:fixed;
    background-color:rgb(25, 10, 195);
    color:rgb(226, 234, 234);
    border:wight;
}*/

.item17 {

    background-color: rgba(39, 27, 106, 0.625);
    color:azure;
    width:350px;
}
.item18 {
    background-color: rgba(245, 23, 11, 0.625);
    color:azure;
    width:350px;
   
}

.card-content {
    padding:auto;
    position:absolute;
}

.card-content p{
    font-size:12px;
    font-family:script;
    line-height:1.5;
}
.btn {
    display:inline-flex;
    width:200 0px;
    margin-top:10%px;
    padding:10px;
    background-color:orange;
    color:rgb(242, 239, 235);
    text-align:center;
    text-decoration:none;
}
.btn1 {
    display:inline-flex;
    width:300PX 10PX;
    margin-top:10%px;
    padding:10px;
    background-color:orange;
    color:rgb(242, 239, 235);
    text-align:center;
    text-decoration:none;
}